.home_pageheader {
  font-size: 25px;
  width: 790px;
  padding: 125px 350px;
  text-align: center; }

p {
  font-size: 11px;
  text-align: center;
  width: 750px;
  height: 20px;
  padding: 20px 370px;
  margin-top: -150px; }

h4 {
  font-family: "Poppins", sans-medium; }

.describe_who_we_are h4 {
  font-family: "Poppins", sans-medium;
  color: #333333;
  text-align: left;
  line-height: 15.5px;
  width: 500px; }
.describe_who_we_are p {
  text-align: left;
  margin-top: 5px;
  margin-left: -370px;
  font-size: 1em;
  font-family: "Poppins", sans-light;
  color: #666666;
  width: 500px; }

.readmorebtn a {
  text-decoration: none;
  color: #666666; }

.coding_problemsolving_careerguidance p {
  width: 250px;
  padding: 0;
  margin-top: 10px;
  margin-left: 60px;
  font-size: 13px; }

.header3 h2 {
  font-family: "Poppins", sans-medium;
  padding: 30px 30px; }

.describe_course p {
  font-family: "Poppins", sans-light;
  margin-top: 40px;
  margin-left: -340px;
  text-align: left;
  font-size: 1em;
  color: #666666; }

.header4 h2 {
  font-family: "Poppins", sans-medium;
  padding: 30px 30px; }

.meet_our_team_des p {
  margin: 0;
  padding: 0;
  text-align: left; }

.memberDescription p {
  padding: 0;
  margin: 0;
  text-align: left; }

body {
  background-color: #f9f9f9;
  margin: 0 10px;
  padding: 0; }

html {
  margin: 0;
  padding: 0; }

nav {
  position: sticky;
  z-index: 1;
  top: 0;
  height: 100px;
  background-color: #f9f9f9; }

nav ul {
  list-style: none;
  padding: 2px 455px;
  margin-top: -50px;
  font-size: 12px;
  font-family: "Poppins", sans-regular; }

nav li {
  float: left; }

nav a {
  text-decoration: none;
  color: #666666;
  display: block;
  text-align: center;
  padding: 15px;
  letter-spacing: 2px; }

nav a:hover {
  color: #ee534f; }

.homepageheader {
  background-color: #222222;
  font-family: "Poppins", sans-serif;
  color: #666666;
  height: 600px; }

.bigbuttons {
  padding: 25px 600px 125px; }

.information1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-family: "Poppins", sans-serif;
  padding: 30px;
  width: 400px; }

.line-border {
  border-bottom: 2px solid #ee534f;
  width: 50px;
  height: 2.5px; }

.line-border2 {
  border-top: 1.2px solid #e7e7e7;
  width: 250px;
  margin-top: 1px; }

.who_we_are_img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 630px;
  grid-row-gap: 10px;
  margin-left: -100px; }

.who_we_are_img img {
  width: 300px;
  height: 200px; }

.coding_problemsolving_careerguidance {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #ee534f;
  height: 350px;
  align-items: center;
  text-align: center;
  font-family: "Poppins", sans-serif; }

.line-border3 {
  border-bottom: 2px solid #ee534f;
  width: 50px;
  height: 2.5px;
  margin-left: 30px; }

.line-border4 {
  border-top: 1.5px solid #e7e7e7;
  width: 350px;
  margin-top: 1px;
  margin-left: 30px; }

.coursesImgs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 100px;
  margin-left: -170px; }

.imgs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 10px;
  column-gap: 5px;
  margin-left: 200px; }

.imgs img {
  width: 300px;
  height: 200px; }

.bigimg img {
  margin-left: 50px;
  width: 400px;
  height: 415px; }

.members {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0;
  width: min-content; }

.member1 {
  display: grid;
  width: min-content;
  grid-template-columns: 1fr 1fr; }

nav img {
  width: 150px;
  height: 50px;
  margin-top: 20px;
  margin-left: 10px; }

/* Style the search field */
form.search input[type=text] {
  margin-left: 70px;
  font-size: 10px;
  border: 1px solid #666666;
  border-radius: 2px;
  float: left;
  width: 180px;
  height: 25px;
  background: #f9f9f9;
  font-family: "Poppins", sans-serif; }

form.search button {
  height: 29px;
  border: 1px solid #666666;
  border-radius: 2px;
  color: #ee534f;
  background-color: #f9f9f9;
  border-left: none;
  width: 25px; }

button {
  width: 130px;
  height: 43px;
  border-radius: 3px;
  border: 1.5px solid #e8e8e8;
  color: #e8e8e8;
  background-color: #222222;
  font-family: "Poppins", sans-serif;
  font-size: 10px; }

button:hover {
  background-color: #ee534f; }

.readmorebtn button {
  background-color: white;
  margin-top: 100px;
  width: 200px;
  font-size: 15px; }

.cpcIcon img {
  width: 50px;
  height: 50px;
  margin-top: -90px; }

.memberImg img {
  width: 250px;
  height: 300px; }

/*# sourceMappingURL=styles.css.map */
