$background-color: #4e4e4e;
$primary-color1: #666666;
$hover-color: #ee534f;
$primary-color2:#f9f9f9;
$primary-color3: #e8e8e8;
$primary-color4: #e7e7e7;
$font-stack: 'Poppins', sans-serif;

// Styling Nav bar
nav {
    width: 1500px;
    height: 100px;
    background-color: $primary-color2;
}

nav ul {
    list-style: none;
    padding: 25px 455px;
}

nav li {
    float: left;
}

nav a {
    text-decoration: none;
    color: $primary-color1;
    display: block;
    text-align: center;
    padding: 15px;
    letter-spacing: 2px;
}

nav a:hover {
    color: $hover-color;
}

/* Style the search field */
form.search input[type=text] {
    margin-left:70px;
    font-size: 12px;
    border: 1px solid $primary-color1;
    border-radius: 2px;
    float: left;
    width: 180px;
    height: 25px;
    background: $primary-color2;
    font-family: $font-stack;
    margin-top: -30px;
    
}

form.search button {
    height: 29px;
    border: 1px solid $primary-color1;
    border-radius: 2px;
    color: $hover-color;
    background-color: $primary-color2;
    border-left: none;
}


