body {
    background-color: $primary-color2;
    margin: 0 10px;
    padding: 0;
}

html {
    margin: 0;
    padding: 0;
}
// styling index header content
.home_pageheader {
    font-size: 25px;
    width: 790px;
    padding: 125px 350px;
    text-align: center;
}

p {
    font-size: 11px;
    text-align: center;
    width:750px;
    height: 20px;
    padding: 20px 370px ;
    margin-top: -150px;
}

h4 {
    font-family: $font-stack2
}

// who we are content
.describe_who_we_are {
    h4 {
        font-family: $font-stack2;
        color: $primary-color5;
        text-align: left;
        line-height: 15.5px;
        width: 500px;
    }

    p {
        text-align: left;
        margin-top: 5px;
        margin-left: -370px;
        font-size: 1em;
        font-family: $font-stack4;
        color: $primary-color1;
        width: 500px;
    }

}

.readmorebtn a {
    text-decoration: none;
    color: $primary-color1;
}

.coding_problemsolving_careerguidance p {
    width: 200px ;
    padding: 0;
    margin-top: 10px;
}

// our exciting courses section
.header3 h2 {
    font-family: $font-stack2;
    padding: 30px 30px;
}

.describe_course p {
    font-family: $font-stack4;
    margin-top: 40px;
    margin-left: -320px;
    text-align: left;
    font-size: 1em;
    color: $primary-color1;
}

// styling Meet our Team
.header4 h2 {
font-family: $font-stack2;

}