// styling index header content
.home_pageheader {
    font-size: 25px;
    width: 790px;
    padding: 125px 350px;
    text-align: center;
}

p {
    font-size: 11px;
    text-align: center;
    width:750px;
    height: 20px;
    padding: 20px 370px ;
    margin-top: -150px;
}

h4 {
    font-family: $font-stack2;
}

// who we are content
.describe_who_we_are {
    h2 {
        font-size: 23px;
    }
    h4 {
        font-family: $font-stack2;
        color: $primary-color5;
        text-align: left;
        line-height: 23px;
        font-size: 18px;
    }

    p {
        text-align: left;
        margin-top: 5px;
        font-size: 18px;
        font-family: $font-stack4;
        color: $primary-color1;
        margin: 0;
        padding: 0;
        width: 600px;
    }

}

.readmorebtn a {
    text-decoration: none;
    color: $primary-color1;
}

.coding_problemsolving_careerguidance p {
    width: 250px ;
    padding: 0;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 13px;
}

// our exciting courses section
.header3 h2 {
    font-family: $font-stack2;
    padding: 10px 150px;
    margin-top: 70px;

}

.describe_course p {
    font-family: $font-stack4;
    margin-top: 0;
    padding: 20px 150px;
    text-align: left;
    font-size: 1em;
    color: $primary-color1;
}

// styling Meet our Team
.header4 h2 {
    font-family: $font-stack2;
    padding: 20px 150px;
    margin-top: 100px;
}

.meet_our_team_des {
    p {
        margin: 0;
        padding: 0;
        text-align: left;
        font-family: $font-stack4;
        font-size: 15px;
        padding: 30px 150px;
        color: $primary-color1;
    }
}

.memberDescription {
    p {
        padding: 0;
        margin: 0;
        text-align: left;
        width: 300px;
    }
    h3 {
        font-family: $font-stack2;
        color: $primary-color6;
        font-size: 18px;
        height: 15px;
        margin-top: -20px;
    }

    .p1  {
        font-family: $font-stack;
        color: $primary-color1;
        font-size: 16px;
    }

    .p2 {
        font-family: $font-stack4;
        color: $primary-color1;
        margin-top: 20px;
        line-height: 20px;
        font-size: 13px;
    }
}

