// logo styling
nav img {
    width: 150px;
    height: 80px;
    margin-top: 10px;
    margin-left: 10px;
}

/* Style the search field */
form.search input[type=text] {
    margin-left:70px;
    font-size: 0.625em;
    border: 1px solid $primary-color1;
    border-radius: 2px;
    float: left;
    width: 180px;
    height: 25px;
    background: $primary-color2;
    font-family: $font-stack;
}

form.search button {
    height: 29px;
    border: 1px solid $primary-color1;
    border-radius: 2px;
    color: $hover-color;
    background-color: $primary-color2;
    border-left: none;
    width: 25px;
}

// styling of buttons in header
button {
    width: 130px;
    height: 43px;
    border-radius: 3px;
    border: 1.5px solid $primary-color3;
    color: $primary-color3;
    background-color: $background-color;
    font-family: $font-stack;
    font-size: 0.625em;
    }

    button:hover {
    background-color: $hover-color;
    width: 137.5px;
    }

// styling 1st read more button
.readmorebtn {
    button {
    background-color: white;
    margin-top: 130px;
    width: 200px;
    font-size: 0.938em;
    }

    button:hover {
        width: 210px;
    }
}



// styling the coding, communication, problem solving and career guidance icons
.cpcIcon {
    i {
        font-size: 1em;
    }
}


// members of the team
.memberImg img {
    width: 250px;
    height: 300px;
}

.memberIcons i {
    width: 15px;
    height: 15px;
    color: $primary-color1;
}