body {
    background-color: $primary-color2;
    margin: 0 10px;
    padding: 0;
}

html {
    margin: 0;
    padding: 0;
}

// Styling Nav bar
nav {
    position: sticky;
    z-index: 1;
    top: 0;
    height: 100px;
    background-color: $primary-color2;
}

nav ul {
    list-style: none;
    padding: 2px 455px;
    margin-top: -70px;
    font-size: 0.750em;
    font-family: $font-stack3;
}

nav li {
    float: left;
}

nav a {
    text-decoration: none;
    color: $primary-color1;
    display: block;
    text-align: center;
    padding: 15px;
    letter-spacing: 2px;
}

nav a:hover {
    color: $hover-color;
}

// styling index header content
.homepageheader {
    background-color: $background-color;
    font-family: $font-stack;
    color: $primary-color1;
    height: 600px;
}

// Styling first pair of buttons
.bigbuttons {
    padding: 25px 600px 125px;
}

// styling who we are content 
.information1 {
    display:grid;
    grid-template-columns: repeat(2,1fr);
    font-family: $font-stack;
    padding: 30px 150px;
}

.line-border {
    border-bottom:3px solid #ee534f;
    height: 2.5px;
    width: 40px;
}

.line-border2 {
    border-top: 3.5px solid $primary-color4;
    margin-top: -3px;
    width: 290px;
    margin-left: 40px;
}

// styling who we are gallery 
.who_we_are_img {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    width: min-content;
    grid-gap: 10px;
    margin-left: 0;
}

.who_we_are_img img {
    width: 300px;
    height: 200px;
}

// layout of the Coding, Problem solving and Career guidance block
.coding_problemsolving_careerguidance {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color: $hover-color;
    height: 250px;
    align-items: center;
    text-align: center;
    font-family: $font-stack;
    padding: 30px 150px;   
}

// Styling of Our Exciting Courses section
.line-border3 {
    border-bottom:3px solid #ee534f;
    width: 40px;
    height: 2.5px;
    margin-left: 150px;
}
    
.line-border4 {
    border-top: 3px solid $primary-color4;
    width: 350px;
    margin-top: -3px;
    margin-left: 190px;
}

.coursesImgs {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 170px;
    width: min-content;
}

.imgs {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    row-gap: 10px;
    column-gap: 5px;
    margin-left: 140px;
    width: min-content;
    padding: 10px;
}

.imgs img {
    width: 290px;
    height: 200px;;
}

.bigimg img {
    padding: 10px;
    width: 606px;
    height: 415px;
}

//meet the team
.members {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 80px;
    width: min-content;
    row-gap: 30px;
    margin-left: 150px;
}

.member1 {
display: grid;
width: min-content;
grid-template-columns: 1fr 1fr;
}

.memberDescription {
    padding: 28px;

    .line-border4 {
        padding: 0;
        margin: 0;
        width: 230px;
        margin-top: 10px;
    }
}

.memberIcons {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    width: 200px;
    margin-top: 165px;
}

.numbers{
    background-color: $hover-color;

    .project_status {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: min-content;
    height: 200px;
    padding: 30px 150px;

    .line-border5 {
        border-top: 3px solid $primary-color1;
        padding: 0;
        margin-top: 30px;
        width: 40px;
        
    }

    h3 {
        padding: 0;
        margin: 0;
        width: 400px;;
    }
    
    p {
        padding: 0;
        margin: 0;
        text-align: left;
        width: 400px;
    }
}
}



