body {
    background-color: $primary-color2;
    margin: 0 10px;
    padding: 0;
}

html {
    margin: 0;
    padding: 0;
}

// Styling Nav bar
nav {
    position: sticky;
    z-index: 1;
    top: 0;
    height: 100px;
    background-color: $primary-color2;
}

nav ul {
    list-style: none;
    padding: 2px 455px;
    margin-top: -50px;
    font-size: 12px;
    font-family: $font-stack3;
}

nav li {
    float: left;
}

nav a {
    text-decoration: none;
    color: $primary-color1;
    display: block;
    text-align: center;
    padding: 15px;
    letter-spacing: 2px;
}

nav a:hover {
    color: $hover-color;
}

// styling index header content
.homepageheader {
    background-color: $background-color;
    font-family: $font-stack;
    color: $primary-color1;
    height: 600px;
}

// Styling first pair of buttons
.bigbuttons {
    padding: 25px 600px 125px;
}

// styling who we are content 
.information1 {
    display:grid;
    grid-template-columns: repeat(2,1fr);
    font-family: $font-stack;
    padding: 30px;
    width: 400px;
}

.line-border {
    border-bottom:2px solid #ee534f;
    width: 50px;
    height: 2.5px;
}

.line-border2 {
    border-top: 1.2px solid $primary-color4;
    width: 250px;
    margin-top: 1px;
}

// styling who we are gallery 
.who_we_are_img {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    width: 630px;
    grid-row-gap: 10px;
    margin-left: -100px;
}

.who_we_are_img img {
    width: 300px;
    height: 200px;
}

// layout of the Coding, Problem solving and Career guidance block
.coding_problemsolving_careerguidance {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color: $hover-color;
    height: 350px;
    align-items: center;
    text-align: center;
    font-family: $font-stack;   
}

// Styling of Our Exciting Courses section
.line-border3 {
    border-bottom:2px solid #ee534f;
    width: 50px;
    height: 2.5px;
    margin-left: 30px;
}
    
.line-border4 {
    border-top: 1.5px solid $primary-color4;
    width: 350px;
    margin-top: 1px;
    margin-left: 30px;
}

.coursesImgs {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 100px;
    margin-left: -170px;
}

.imgs {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    row-gap: 10px;
    column-gap: 5px;
    margin-left: 200px;
}

.imgs img {
    width: 300px;
    height: 200px;;
}

.bigimg img {
    margin-left: 50px;
    width: 400px;
    height: 415px;
}


